<center>
<p>This is the landing page</p>
<p>this page may contain</p>
<p>an admin login</p>
<p>student login</p>
<p>create account link</p>
<form action ="post" action ="/landing page">
    <input type = "text" name = "command" value = "hello world" hidden>
    <input type = submit>
    </form>
    </center>


