<body style= "background-color:#c2c2a3;">
<center>
<img src= "/img/letter.png"; style="height:8rem; width: 45rem; border: 8px
solid #4682b4;"/>
</center>

<center>
<div style= "font-family: Verdana;">
<p style= "font-size: 25px"><strong> MCA "Fall-2017" Class Selection</strong> </p> <br>

<form action ="post" action ="/landing page">
   Student <input type = "text" name = "command" value = "hello world" hidden>
        Entry: <input type = submit><br><br>

    Admin <input type = "text" name = "command" value = "hello world" hidden>
   Entry: <input type = submit>
   
   </div>
   </form>

    </center>

</body>
