<center>

<p>After you complete and submit, go to your email to  </p>

<p>verify and confirm your application.</p>


<form method = "post" action = "/users_fname" >
    First Name:    <input type = "text" name = "users_fname" autofocus ><br>
    Last Name:     <input type = "text" name = "user_lname" autofocus ><br>
    First Choice:  <input type = "text" name = "first_choice" autofocus ><br>
    Second Choice: <input type = "text" name = "second_choice" autofocus ><br>
    Third Choice:  <input type = "text" name = "third_choice" autofocus ><br>
    Fourth Choice:  <input type = "text" name = "fourth_choice"autofocus ><br>
    <input type = "submit" >
    </center>
</form>