<html>

<head>

<link rel = "stylesheet" href = "css/style.css">

</head>

<body>

<center>

<p>After you complete and submit, go to your email to  </p>

<p>verify and confirm your application.</p>

</center>

<form method = "post" action = "/users_fname" >

<table cellpadding="2" width="40%" bgcolor="00ff99" align="center"

cellspacing="2">

<tr>

<td colspan=2>

<center><font size=4><b>WCA Class Application</b></font></center>

</td>

</tr>

<fieldset>

<center><legend>Student Class Application Form</legend></center>

<tr>

<td>First Name:</td>

<td><input type = "text" name = "fname"  size="30" autofocus></td>

</tr>

<tr>

<td>Last Name:</td>

<td><input type = "text" name = "lname"  size="30" autofocus></td>

</tr>

<tr>

<td>#1 Class Selection:</td>

<td><select name="first_choice" autofocus">

<option value="-1" selected>select..</option>

<option value="Fire Fighting">FIRE FIGHTING</option>

<option value="Coding">CODING</option>

<option value="Emt">EMT</option>

<option value="Robotics">ROBOTICS</option>

</select></td>

</tr>

<tr>

<td>#2 Class Selection:</td>

<td><select name="second_choice" autofocus>

<option value="-1" selected>select..</option>

<option value="Fire Fighting">FIRE FIGHTING</option>

<option value="Coding">CODING</option>

<option value="Emt">EMT</option>

<option value="Robotics">ROBOTICS</option>

</select></td>

</tr>

<tr>

<td>#3 Class Selection:</td>

<td><select name="third_choice" autofocus>

<option value="-1" selected>select..</option>

<option value="Fire Fighting">FIRE FIGHTING</option>

<option value="Coding">CODING</option>

<option value="Emt">EMT</option>

<option value="Robotics">ROBOTICS</option>

</select></td>

</tr>

<tr>

<td>#4 Class Selection:</td>

<td><select Name="Of Interest">

<option value="-1" selected>select..</option>

<option value="Fire Fighting">FIRE FIGHTING</option>

<option value="Coding">CODING</option>

<option value="Emt">EMT</option>

<option value="Robotics">ROBOTICS</option>

</select></td>

</tr>

<tr>

<td><input type="reset"></td>

<td colspan="2"><input type = "submit"/></td>

</fieldset>

</form>

</body>

</html>