<center>

<p>After you complete and submit, go to your email to  </p>

<p>verify and confirm your application.</p>

<fieldset>
<form method = "post" action = "/users_fname" >
    First Name:    <input type = "text" name = "fname" autofocus ><br>
    Last Name:     <input type = "text" name = "lname" autofocus ><br>
    First Choice:  <input type = "text" name = "first_choice" autofocus ><br>
    Second Choice: <input type = "text" name = "second_choice" autofocus ><br>
    Third Choice:  <input type = "text" name = "third_choice" autofocus ><br>
    Fourth Choice:  <input type = "text" name = "fourth_choice"autofocus ><br>
    <input type = "submit" >
    </center>
</form> 
</fieldset>

<!-- 
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
-->