<body style= "background-color: #c2c2a3;">

<center>

<h1>
"Student <%=fname%> <%=lname%> " <br><br>
"First choice <%=first_choice%>"<br>




Do you wish to make changes or submit your choices <br>
</center>
<h/1>

 </body>
